# All members on Developers team get added to review PRs
* @seedcase-project/developers

# Ignore these so we don't get added to sync PRs
/.github/
/.vscode/
/.devcontainer/
justfile
.editorconfig
.gitignore
ruff.toml