# Development files and folders
_ignore
bin/
dev/

# Temporary files
*.tmp

# Any IDE specific folders
.idea

# Any .env files
.env
.env.*
**/.env.*
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python specific content
venv
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
profile_default/
ipython_config.py

# Python packaging and distribution
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python testing and code coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
junit/

# MacO
.DS_Store

# R and RStudio 
.Rbuildignore
.Rhistory
.RData
.Rproj.user

# Quarto
/.quarto/
docs/.quarto/

# Website generation
_site
_book
public
site

# Local data files
**/datafile/*
# Persistent storage should not be stored in git except for the markdown files
persistent_storage
!persistent_storage/**/*.md

# Python Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
# We'll disable migrations for now, until we have actual users
migrations
