# Development files and folders
_ignore
bin/
dev/

# Temporary files
*.tmp

# Any IDE specific folders
.idea

# Any .env files
.env
.env.*
**/.env.*

# Python venv folder
venv

# MacOS specific files
.DS_Store

# R specific files
.Rbuildignore
.Rhistory
.RData
.Rproj.user

# Quarto files
/.quarto/

# Site files
_site
_book
public

# Ignore test coverages and results
htmlcov/
junit/
coverage.xml
.coverage

# Local data files
**/datafile/*
