/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

$font-family-sans-serif: "Lato", sans-serif;
$font-family-monospace: "Fira Code", monospace;
$headings-font-family: "Poppins", sans-serif;
$navbar-bg: #990032;

/*-- scss:rules --*/

svg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto !important;
  width: auto !important;
}

/*
.alert-info {
    background: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    background: #eee;
    border-bottom: 5px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
}

.icon-link {
    background-color: #990033;
    color: white;
    padding: 3px 5px 3px 5px;
    margin: 0 2px 0 2px;
    border-radius: 5px; # Rounded edges
}

.icon-link:hover {
    background-color: #fb0052;
    color: white;
}

*/
