/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Noto Sans');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro');

$font-family-sans-serif: "Maven Pro", sans-serif;
$font-family-monospace: "Fira Code", monospace;
$headings-font-family: "Noto Sans", sans-serif;

/* brand colour #003224 - the one below is a slightly lighter version of the brand colour */
/* using rgb to be able to use rgba, i.e., opacity */
$primary: rgb(25, 100, 64); // #196440
$secondary: rgb(198, 240, 211); // #c6f0d3
$tertiary: rgb(72, 220, 118); // #48dc76
$toc-active-border: rgb(139, 139, 139); // #8b8b8b;

$navbar-padding-y: .2rem;

/*-- scss:rules --*/
.navbar {
  border-bottom: rgba($toc-active-border, 0.3) 1px solid;
}

svg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto !important;
  width: auto !important;
}

li {
  margin: 5px 0;
}

figcaption {
  text-align: center;
}

.about-link {
  border: 2px solid $tertiary !important;
  border-radius: 50px !important;
  color: $primary !important;
  font-size: 20px !important;
  font-weight: bold;
  padding: 5px 15px !important;
}

.about-link:hover {
  background-color: $tertiary !important;
  color: white !important;
}

.about-links {
  justify-content: left !important;
  padding: 10px 0px 0px 0px !important;
}

.full-width-banner {
  /* negative margin trick from https://css-tricks.com/full-browser-width-bars/#aa-using-negative-margin */
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: rgba($secondary, 0.5);
  padding-bottom: 30px;
}

.landing-page-card {
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba($secondary, 0.3);
  border: none;
  padding: 5px 20px 10px 20px;
  margin-bottom: 40px;
  justify-content: start !important;
}

.navbar-logo {
  max-height: 38px;
}
